$fontSize: 16px;
$primaryTextColor: #00adee;
$secondaryColor: #4f4f4f;
$thirdColor: #ffffff;

@mixin font {
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}

@mixin up-title {
  color: $primaryTextColor;
  font-weight: bold;
  @include font;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper-main {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}

.top {
  display: flex;
  background: #f4f6f9 url(../images/Frame.png) top right no-repeat;
background-size: 50%;

  .top-content {
    max-width: 546px;
    margin-left: 160px;
    margin-top: 63px;
    margin-bottom: 160px;

.logo {
  cursor: pointer;
:hover {
  opacity: .8;
}
}

    .top-name {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: $secondaryColor;
    }

    .top-discription {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $secondaryColor;
    }

    .link-wrapper {
      display: flex;

    .app {
      display: block;
      margin-right: 35px;
      width: 157px;
      height: 47px;
      background: url(../images/AppleStore.png) no-repeat;
      cursor: pointer;
      :hover {
        opacity: .5;
      }
    }
        .goog {
      display: block;
      width: 157px;
      height: 47px;
      background: url(../images/GooglePlay.png) no-repeat;
      cursor: pointer;
      :hover {
        opacity: .5;
      }
      }
    }
  }
}

.about {
  display: flex;
  background: url(../images/backgrOpacity.png) left top no-repeat;
  background-size: 50% auto;


  .about-pictures {
    margin-left: 95px;
    padding-top: 60px;
    padding-right: 70px;


    .pictures-top {
      position: relative;
      top: 30px;
      z-index: 2;
      :hover {
        background: red;
      }
    }
    .pictures-bottom {
      position: relative;
      z-index: 1;
      bottom: 95px;
      left: 150px;
    }
  }
  .about-discription {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 130px;
    margin-right: 236px;

   .up-title {
     color: $primaryTextColor;
     font-weight: bold;
     @include font;
   }

   .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
   }

   .content {
    @include font;
   }

   .learn {
     text-decoration: none;
     font-weight: bold;
     @include font;
     color: $primaryTextColor;
     cursor: pointer;
     :hover {
      opacity: .5;
    }
   }
  }
}

.interface {
  display: flex;
  margin-left: 160px;
  background: white;

  .interface-left {
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 170px 0;

    .up-title {
      @include up-title;
    }

    .title {
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
     }

    .content {
      @include font;
     }

     .learn {
      text-decoration: none;
      font-weight: bold;
      @include font;
      color: $primaryTextColor;
      cursor: pointer;
      :hover {
        opacity: 0.5;
      }
    }
  }

  .interface-right {
    position: relative;
    z-index: 2;
    min-width: 50%;
    background: url(../images/EllipseGroup.svg) no-repeat 80%;
  }
}

  .features {
    margin: 0 auto;
    max-width: 1440px;
    background: $primaryTextColor;
    text-align: center;
    color: white;
    padding: 70px 0;

    .features-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 90px;
      margin: 30px 160px;

     .feat {
       text-align: left;

       .one {
         display: none;
       }
     }
    }
}

.companies {
  background: #fafafa;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;

  .logo-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
}

.info {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 465px;
  background: url(../images/Frame2.png) no-repeat -5%;
  background-size: contain;

.info-img {
  width: 100%;
}

  .info-information {
    margin-left: 120px;
    padding: 60px 130px 50px;

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
    }
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.link-wrapper {
  display: flex;
}

.app {
  display: block;
  margin-right: 35px;
  width: 157px;
  height: 47px;
  background: url(../images/AppleStore.png) no-repeat;
  cursor: pointer;
  :hover {
    opacity: .5;
  }
}

.goog {
  display: block;
  width: 157px;
  height: 47px;
  background: url(../images/GooglePlay.png) no-repeat;
  cursor: pointer;
  :hover {
    opacity: .5;
  }
}
  }
}

.bottom {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-around;
  background: $primaryTextColor;
  color: white;
  padding: 60px 0;


  .list {
    display: flex;
    min-width: 450px;
    justify-content: space-between;
    list-style: none;

    .item {
      cursor: pointer;
      :hover {
        opacity: .5;
      }
    }
  }

  .social {
    display: flex;
    min-width: 120px;
    justify-content: space-between;
    a {
      display: flex;
    justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: white;
      align-items: center;
      cursor: pointer;
    }
   }
  }

@media(max-width: 505px) {
  .top {
    max-width: 360px;
    background: #f4f6f9;

    .top-content {
      margin: 0px auto;
      padding: 34px 20px 60px;
      text-align: center;
    }

    .top-discription {
      font-size: 16px;
      line-height: 23px;
    }
.link-wrapper {
  .app {
    margin-right: 10px;
  }
}

}

.about {
  flex-direction: column-reverse;
  background: url(../images/backgrOpacity.png) left bottom no-repeat;
  background-size: 150% auto;

  .about-pictures {
    margin: 0;

    .pictures-top {
      width: 290px;
      height: 200px;
    }

    .pictures-bottom {
      width: 247px;
      height: 149px;
      left: 85px;
    }
  }
  .about-discription {
    padding: 20px;
    margin: 0;
    text-align: center;
  }
}

.interface {
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: center;

  .interface-left {
    width: 100%;
    padding: 0;
  }

  .interface-right {

  }
}

.features {
  background: #fafafa;
  color: $secondaryColor;
  .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .feat {
      text-align: center;
      .one {
        display: block;
        margin: 0 auto;
        }
.none {
  display: none;
}
      }
 }
}

.logo-wrapper {
  flex-wrap: wrap;
}

.info {
  flex-direction: column-reverse;
  height: 600px;
  text-align: center;
background: white;

  .info-img {
    width: 300px;
    height: 300px;
    background: url(../images/Frame2.png) no-repeat -5%;
    background-size: contain;
  }

  .info-information {
    padding: 0;
    margin: 15px;
  }
}

.bottom {
  flex-direction: column;
  margin: 0;
  padding: 20px;

  .list {
    padding: 0;
  }

  .social {
width: 80px;
  }
}
}
